//= require PixelAdmin/bootstrap.min
//= require PixelAdmin/pixeladmin.min
//= require PixelAdmin/widgets.min
//= require PixelAdmin/themes/default.min

@import "font-awesome";

#sliders {
  .upload {
    &.logo img, &.banner img {
      cursor: pointer;
    }
  }

  #dropzone_photo .dz-image-preview {
    cursor: move;
  }
}

.dz-show {
  display: block;
  margin: 8px -10px -10px;
  padding: 8px 0;
  color: #444;
  font-size: 10px;
  font-weight: 600;
}

.dz-show {
  border-top: 1px solid rgba(0,0,0,.05);
  text-align: center;
}

.dz-show:focus, .dz-show:hover {
    text-decoration: none;
    color: #fff;
    border-top-color: transparent;
    background: #4CAF50;
}
